$backgroundimg: url(../img/m-h-day.jpg);
$font-hind: 'Hind', sans-serif;
$back-font: #14a0c7;
$back-button: #699900;
$back-box: #21232e;
$gradcolor: rgba(47, 94,208,1);
$text-color: #2c2f3c;
$text-white: #ffffff;
$backgrcolor: white;
